.container {
    background-image: url('background_problem.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f0f0f0;
    width: 100%;
    height: 100vh;
    position: fixed;
    margin:0;
    padding:0;
    top:0;
    left:0;
} 
.blurredcontainer {
    color:white;
    padding-left: 20px;
    padding-right: 20px;
    backdrop-filter: blur(10px);
    width: 80%;
    height: 70%;
    justify-content: left;
    align-items: top;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}